<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Refresh" content="600">
    <title>ASMAT</title>
    <link rel="icon" href="/static/images/logo-round.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <img id="logo" src="/static/images/logo-big.png" />
    <div class="white">
            <div class="column">
                <table class="manage" border="0">
                    <thead>
                        <tr>
                            <th>N° Carte</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>N° Téléphone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in whitelist %}
                        <tr id=users {% if row[1] == "Erreur" %} style="background-color: rgb(255, 174, 0); color: white;" {% endif %}>
                            <td><a href="/user/{{ row[0] }}">{{ row[1] }}</a></td>
                            <td><a href="/user/{{ row[0] }}">{{ row[2] }}</a></td>
                            <td><a href="/user/{{ row[0] }}">{{ row[3] }}</a></td>
                            <td><a href="/user/{{ row[0] }}">{{ row[4] }}</a></td>
                            <td>
                                <form action="/remove_user" method="post">
                                    <input type="hidden" name="uid" value="{{ row[0] }}">
                                    <input id="remove" type="submit" value="-">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <form action="/add_user" method="post" >
                                <td><input id="card_number" name="card_number" autocomplete="one-time-code" maxlength="20" required></td>
                                <td><input id="last_name" name="last_name" autocomplete="one-time-code" maxlength="15" required></td>
                                <td><input id="first_name" name="first_name" autocomplete="one-time-code" maxlength="15" required></td>
                                <td><input id="phone_number" name="phone_number" autocomplete="one-time-code" maxlength="10" required></td>
                                <td><input id="add" type="submit" value="+"></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column">
                <div class="log_general">
                    <table border="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Utilisateur</th>
                                <th>Quantité</th>
                                <th>Calibre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in log_general %}
                            <tr {% if row[2] == "-50" %} style="background-color: #004f99;" {% elif row[2] == "Erreur" %} style="background-color: #830000;" {% else %} style="background-color: #168300;" {% endif %}>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</body>
<footer><p>{{last_update}}</p></footer>
</html>
