<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Refresh" content="60">
    <title>ASMAT</title>
    <link rel="icon" href="/static/images/logo-round.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <img id="logo" src="/static/images/logo-big.png" />
    <div class="white">
      <div class="column">
        <form action="/" method="get" style="display: inline-block;">
          <button id="back" type="submit" >
            <img id=back_button src="/static/images/back_button.png" />
          </button>
        </form>
        <h1 style="display: inline;">{{first_name}} {{last_name}} </h1>
        <form action="/state_user" method="post" style="display: inline-block;">
          <input type="hidden" name="uid" value="{{ uid }}">
          <input id="lock" type="image" {% if state == "locked" %} src="/static/images/locked.png" {%else%} src="/static/images/unlocked.png" {%endif%} alt="submit">
        </form>
        <div class="status" >
          {% if user_state == "Actif" %}
            <img src="/static/images/online.png">
          {% else %}
            <img src="/static/images/offline.png">
          {% endif %}
        </div>
        <p></p>
        <table class="user" border="0">
          <tbody>
            <form action="/edit_user" method="post">
              <tr>
                <td>Nom</td>
                <td><input id="last_name" name="last_name" value="{{last_name}}" autocomplete="one-time-code" maxlength="15" required></input></td>
              </tr>
              <tr>
                <td>Prénom</td>
                <td><input id="first_name" name="first_name" value="{{first_name}}" autocomplete="one-time-code" maxlength="15" required></input></td>
              </tr>
              <tr>
                <td>N° de Téléphone</td>
                <td><input id="phone_number" name="phone_number" value="{{phone_number}}" autocomplete="one-time-code" maxlength="10" required></input></td>
              </tr>
              <tr>
                <td>N° de Carte</td>
                <td><input  id="card_number" name="card_number" value="{{card_number}}" autocomplete="one-time-code" maxlength="20" required></input></td>
              </tr>
              <tr>
                <td><input type="hidden" name="uid" value="{{ uid }}"></td>
                <td><input id="edit" type="image" src="/static/images/save_button.png" alt="submit"></td>
              </tr>
              <tr>
                <td>Dernière visite </td>
                <td>{{last_date}}</td>
              </tr>
              <tr>
                <td>Membre depuis</td>
                <td>{{registration_date}}</td>
              </tr>
            </form>
          </tbody>
        </table>
        <p></p>
        <table class="user" border="0">
          <tbody>
            <tr>
              <td>Nombre de visites</td>
              <td>{{visit_count}}</td>
            </tr>
            <tr>
              <td>Calibre favori</td>
              <td>{{favourite_ammunition_type}}</td>
            </tr>
            <tr>
              <td>Munitions tirées</td>
              <td>{{ammunition_fired_count}}</td>
            </tr>
            <tr>
              <td>Etuis rendus</td>
              <td x>{{returned_shell_count}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        {% if log_user %}
          <div class="log_user">
            <table border="0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Quantité</th>
                        <th>Calibre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in log_user %}
                    <tr {% if row[1] == "-50" %} style="background-color: #004f99;" {% elif row[1] == "Erreur" %} style="background-color: #830000;" {% else %} style="background-color: #168300;" {% endif %}>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
</body>
<footer><p>{{last_update}}</p></footer>
</html>
