body {
    font-family: Arial, sans-serif;
    background-color: black;
}
.white {
    max-width: 1400px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    display: flex;
}
.column {
    flex: 1;
    padding: 20px;
}
img {
    max-width: 100%;
    display: block;
}
img[id=logo]{
    max-width: 25%;
    margin: auto;
    padding: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold; /* Titres de colonnes en gras */
    text-align: left;
    background-color: #141414;
    color: white;
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
}
.manage{
    height: auto;
    overflow-y: auto;
}
.manage tr[id=users]:hover{
    background-color: #cac9c9;
}
.log_general{
    color:white;
    height: 500px;
    overflow-y: auto;
}
.log_user{
    height: 500px;
    overflow-y: auto;
}
.log_user table{
    color: white;
}

.user td{
    width: 175px;
}
.user td:nth-child(1) {
    text-align: left;
}
.user td:nth-child(2) {
    text-align: right;
    font-weight: bold;
}
.user input{
    text-align: right;
    font-weight: bold;
}
input{
    width:80%;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 6px 10px;
}
input[id=add]{
    background-color: #4fa707;
    border: none;
    color: white;
    padding: 4px;
    margin:4px;
    cursor: pointer;
}
input[id=add]:hover{
    background-color:#428A07;
}

input[id=remove]{
    background-color: #EA0808;
    border: none;
    color: white;
    padding: 4px;
    margin:4px;
    cursor: pointer;
}
input[id=remove]:hover{
    background-color:#A40707;
}
a {
    display: block;
    text-decoration: none;
    color: inherit; /* Utilisez la couleur par défaut du texte /*<img id=back_button src="/static/images/back_button.png" />*/
}
.user_state {
    font-weight: bold;
    display: inline;
    padding: 10px;
    border-radius: 50%;
}
.status {
    margin-left: 50px;
    width:100px;
}
button {
    display: inline-block;
    width: 40px;
    cursor: pointer;
    background: transparent;
    border: none;
}
button:hover{
    filter: invert(50%);
}
input[id=edit]{
    display: inline-block;
    width: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
}
input[id=edit]:hover{
    filter: invert(50%);
}
input[id=lock]{
    display: inline-block;
    width: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
}
input[id=lock]:hover{
    filter: invert(50%);
}
.user{
    width:70%;
}
footer{
    color:white;
    margin-left:230px;
}